html {
	background-color: black;
	font-family:Lucida Sans Unicode;
}

.commandDiv {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 10%;
	color: white;
}

.logsDiv{
	color: white;
	overflow-y: scroll;
	height: 600px;
    scrollbar-base-color: black;
    scrollbar-highlight-color: black;
    scrollbar-arrow-color: gold;
    scrollbar-face-color: gold;
}

.alertsDiv {
	height: 10%;
	font-style: italic;
	color: gold;
}

.alertsArea {
	margin-left: 50px;
}

.ui-widget {
	font-size: 0.8em;
}

.ui-button, .ui-widget-content a {
	color: gold;
}

.ui-tooltip {
 	max-width: 780px;
 	font-size: small;
}

input, .commandTooltip  {
	width: 90%;
	background-color: black;
	color:gold;
	border: 0px;
}

