html {
	background-color: black;
}

.commandDiv {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 10%;
	color: white;
}

.logsDiv{
	color: white;
	overflow-y: scroll;
	height: 500px;
    scrollbar-base-color: black;
    scrollbar-highlight-color: black;
    scrollbar-arrow-color: gold;
    scrollbar-face-color: gold;
}

.alertsDiv{
	font-style: italic;
	color: gold;
}

input {
	width: 90%;
	background-color: black;
	color:gold;
	border: 0px;
}